__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/
*.egg-info/
.venv/
venv/
ENV/
env/

.idea/
.vscode/

output/

notebooks/

models/alphagenome/
models/NT_model/

src/pcawg_features/PCAWG/

.ipynb_checkpoints/
src/ag_batch/__init__.py
src/pcawg_features/__init__.py
models/__init__.py
models/tab_pretrain/__init__.py
data/raw/pcawg_noncoding_50k.maf
